{% extends 'base.html' %}

{% block con %}

    <div class ="container mt-5 mb-5">
        <h1><b>BOOK MARK</b></h1>

        <div class="text-end">
            <a  href="{% url 'book:create' %}" class="btn btn-dark">BOOK MARK MAKE</a>
        </div>

        <div class="row">
            {% for i in bset %}
            <div class="col-lg-4 mt-5 ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>{% if i.impo %}★{% endif %}{{ i.site_name }}</b></h5>
                        <p class="card-text" style="height: 50px;">{{ i.site_con }}</p>
                        <div class="text-end">
                        <a href="{{ i.site_url }}" targer="_blank" class="btn btn-dark">LINK</a>
                        </div>
                     </div>
                 </div>
             </div>
                {% endfor %}
            </div>

    </div>





{% endblock%}